#wrapper{
	width: 1000px;
	background-color: #513d46;
	overflow: hidden;
 	height: auto;
}
#header{
	width: 1000px;
	height: 40px;
	background-color: #f3f3f3;
	padding: 5px;
}
#header h1{
	display: inline-block;
	font-weight: bold;
	font-weight: bold;
	font-size: 16pt;
	font-family: "comic sans MS", arial, verdana, sans-serif;
	margin: 5px 0px 0px 15px;

}
#header h2{
	padding-left: 590px;
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;

}
#main_content{
	width: 1000px;
	background-color: #513d46;
}
#main_content_top .about_me_image{
	width: 420px;
	margin: 20px 10px 20px 20px;
	border: 3px solid #878693;
	display: inline-block;
	vertical-align: top;

}
#main_content_top .inset{
	height: 282px;
	width: 510px;
	margin: 20px 20px 20px 10px;
	background-color: #eae2ea;
	display: inline-block;
	vertical-align: top;

}
#main_content_top .inset h3{
	height: 22px;
	width: 500px;
	margin: 0px;
	padding: 5px;
	background-color: #878693;
	color: white;

}
#main_content_top p{
	margin: 5px;
}

#main_content_middle{
	width: 1000px;
	background-color: #513d46;
	padding: 0px 10px;
}

#main_content_middle .inset{
	width: 304px;
	height: 350px;
	margin: 0px 10px 0px 10px; 
	background-color: #eae2ea;
	display: inline-block;
	vertical-align: top;
}
#main_content_middle h3{
	height: 22px;
	width: 299px;
	margin: 0px;
	padding: 5px 0px 5px 5px;
	background-color: #878693;
	color: white;
	font-size: 12pt;
}
#main_content_middle .inset_image{
	width: 304px;
}
#main_content_middle p{
	margin: 0px 5px;
}
#main_content_bottom{
	width: 1000px;
	background-color: #513d46;
	padding: 0px 10px;
}
#main_content_bottom .inset{
	width: 304px;
	height: 200px;
	margin: 0px 10px 0px 10px; 
	background-color: #eae2ea;
	display: inline-block;
	vertical-align: top;
}
#main_content_bottom h4{
	height: 22px;
	width: 299px;
	margin: 0px;
	padding: 5px 0px 5px 5px;
	background-color: #878693;
	color: #eae2ea;
	font-size: 12pt;
}
#main_content_bottom .icons{
	width: 50px;
	margin: 3px;
	display: inline;
}
#main_content_bottom .website_button{
	width: 80px;
	background-color: green;
	border: 2px solid grey;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	margin: auto;

}
#footer{
	width: 1000px;
	height: auto;
	background-color: #f3f3f3;
	color: black;
	font-weight: normal;
	text-align: center;
	padding-bottom: 5px;
	margin: 20px 0px 0px 0px;
}
#footer .contact_icons{
	width: 15px;
}